body {
  background-image: url(../assets/images/pattern-bg.png);
  background-repeat: repeat;
  font-family: noto-serif;
  /* font-family: PTSR; */
}
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head-text {
  margin: 10vh auto;
  color: #6b5036;
  text-align: center;
  text-transform: uppercase;
}
.card-container {
  display: flex;
}
.img1 {
  background-image: url(../assets/images/rooms/executive-suite.png);
}
.img2 {
  background-image: url(../assets/images/rooms/duplex.png);
}
.img3 {
  background-image: url(../assets/images/rooms/business-suite.png);
}
.card-container {
  padding: 0 5vw 5vh;
  display: flex;
  justify-content: space-between;
}
.card {
  width: 320px;
  height: 540px;
  background-color: #fefefe;
  color: #765b24;
  display: flex;
  flex-direction: column;
  position: relative;
}
.card::before {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  content: "Лучшая цена";
  color: white;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../assets/images/best-price.png);
  background-size: cover;
  width: 65px;
  height: 65px;
  position: absolute;
  top: 5px;
  left: 5px;
}
.card__img {
  width: 100%;
  flex: 0 0 220px;
  background-repeat: no-repeat;
}
.card__content {
  flex: 1 1 100%;
  border: 5px solid #e4ded1;
  transition: 0.2s ease-in-out;
  border-top: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card__main-text {
  text-align: center;
  margin-top: 0;
  height: 55px;
}
.card__second-text {
  color: black;
  text-align: center;
  font-family: PTSR;
  font-size: 15px;
}
.card__line {
  margin: 20px 0;
  background-color: rgba(0, 0, 0, 0.15);
  height: 1px;
  width: 100%;
}
.card__price {
  text-align: center;
  font-size: 18px;
  color: black;
}
.card__price-b {
  color: #765b24;
  font-size: 24px;
}
.card__button {
  width: 80%;
  margin: 15px 0;
  padding: 15px;
  height: 48px;
  background-color: #6b5036;
  color: white;
  border: none;
  font-family: PTSR;
  cursor: pointer;
  position: relative;
}
.card__button::before {
  content: "Забронировать";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.card__button:hover {
  background-color: #9d8555;
}
.card:hover::before {
  opacity: 1;
}
.card:hover .card__content {
  border-color: #fff;
}
@media (max-width: 1200px) {
  .card-container {
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }
}

.card[data-disabled="true"] {
  transition: 0.5s;
  filter: grayscale(2);
}
.card[data-disabled="true"]:hover {
  filter: none;
}
.card[data-disabled="true"]::before {
  opacity: 0;
}
.card[data-disabled="true"] .card__content {
  border-color: #e4ded1;
}
.card[data-disabled="true"] .card__button::before {
  content: "Подробнее";
}
