/* Стили по умолчанию для больших экранов */
h1 {
    font-size: 4em;
    color: #0056b3;
    text-align: center;
    margin: 50px 0;
}

/* Медиа-запрос для экранов менее 768px */
@media (max-width: 768px) {
    h1 {
        font-size: 2.5em;
        color: #d9534f;
    }
}

/* Медиа-запрос для экранов менее 480px */
@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
        color: #5cb85c;
    }
}